<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/assets/css/burger_style.css">
    <title>Eat the Burger!</title>
    <script src="https://code.jquery.com/jquery.js"></script>
    <script src="/public/assets/javascript/app.js"></script>
</head>
<body>
    <img src="/public/assets/img/burger.png" alt="main-burger">
    {{{body}}}
</body>
</html>