<h1>Eat-Da-Burger!</h1>

<ul>
    {{#each burgers}}
    <div class="receipt">
        <p>Type: {{this.burger_name}}</p>
        <p>ID: {{this.id}}</p>
        <p>Devoured? {{this.devoured}}</p>
        <button data-id="{{this.id}}" class="delete">Devour it!</button>
    </div>
    {{/each}}
</ul>

<form class="create-form">
    <div class="form-group">
        <input type="text" id="patty" name="type">
    </div>
    <br>
    <button type="submit" id="order-it">Add Burger</button>
</form>

<h4>You must be very hungry.</h4>
<h4>Type the burger you crave and submit your order.</h4>