h1, h4 {
    text-align: center;
    color:#b22d00;
}

.delete {
    background-color: aquamarine;
}

.receipt {
    height: 125px;
    width: 145px;
    background-color: pink;
}

body {
    background-color: #ffcb68;
    text-align: center;
    margin: 100px;
}

input {
    height: 85px;
    width: 250px;
}

#order-it {
    background-color: dodgerblue;
    color: white;
    border-style: inset;
}